<ion-view title="Cars" id="page2">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="cars-card21">
      <ion-item class="item-icon-left assertive" id="cars-list-item6">
        <i class="icon ion-android-car"></i>Mazda 3</ion-item>
      <form id="cars-form3" class="list">
        <ion-checkbox id="cars-checkbox1">Select</ion-checkbox>
      </form>
      <div class=" item item-image">
        <img src="img/JWCBc6hQIKa1UqOQKxTe_2016_mazda_mazda3_s_grand_touring_hatchback-pic-2001505439036637043-1600x1200.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="cars-list-item-container4">
        <div id="cars-markdown8" class="show-list-numbers-and-dots"></div>
        <div id="cars-markdown9" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Horsepower:
            <strong>105</strong>
          </p>
        </div>
        <div id="cars-markdown10" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Car number:
            <strong>ABC345</strong>
          </p>
        </div>
        <div id="cars-markdown20" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Received Tokens:
            <strong>80</strong>
          </p>
        </div>
        <div id="cars-markdown49" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">MOT Date:
            <strong>20/09/2018</strong>
          </p>
        </div>
        <div id="cars-markdown50" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Car Registration:
            <strong>05/02/2018</strong>
          </p>
        </div>
      </div>
    </div>
    <div class="list card" id="cars-card26">
      <ion-item class="item-icon-left dark" id="cars-list-item17">
        <i class="icon ion-android-car"></i>Mercedes C200</ion-item>
      <form id="cars-form9" class="list">
        <ion-checkbox id="cars-checkbox5">Select</ion-checkbox>
      </form>
      <div class=" item item-image">
        <img src="img/xpiJKqrbSNj8970vpT5B_maxresdefault2.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="cars-list-item-container9">
        <div id="cars-markdown21" class="show-list-numbers-and-dots"></div>
        <div id="cars-markdown22" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Horsepower:
            <strong>181</strong>
          </p>
        </div>
        <div id="cars-markdown23" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Car number:
            <strong>ADC146</strong>
          </p>
        </div>
        <div id="cars-markdown24" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Received Tokens:
            <strong>120</strong>
          </p>
        </div>
        <div id="cars-markdown51" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">MOT Date:
            <strong>25/07/2018</strong>
          </p>
        </div>
        <div id="cars-markdown53" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Car Registration:
            <strong>02/07/2018</strong>
          </p>
        </div>
      </div>
    </div>
    <div class="list card" id="cars-card25">
      <ion-item class="item-icon-left dark" id="cars-list-item16">
        <i class="icon ion-android-car"></i>Audi TTRS</ion-item>
      <form id="cars-form8" class="list">
        <ion-checkbox id="cars-checkbox4">Select</ion-checkbox>
      </form>
      <div class=" item item-image">
        <img src="img/MAZqEhRTpKJgXeoas8CA_maxresdefault1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="cars-list-item-container8">
        <div id="cars-markdown16" class="show-list-numbers-and-dots"></div>
        <div id="cars-markdown17" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Horsepower:
            <strong>400</strong>
          </p>
        </div>
        <div id="cars-markdown18" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Car number:
            <strong>ACE457</strong>
          </p>
        </div>
        <div id="cars-markdown19" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Received Tokens:
            <strong>240</strong>
          </p>
        </div>
        <div id="cars-markdown52" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">MOT Date:
            <strong>28/11/2018</strong>
          </p>
        </div>
        <div id="cars-markdown54" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Car Registration:
            <strong>14/05/2018</strong>
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>