<ion-view title="Login" id="page7">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/rQ36FJ6xRqe26tRyF2g6_car.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="login-form12" class="list">
      <ion-list id="login-list4">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="myWallet()" id="login-button18" class="button button-stable button-block">Log in</a>
      <a ui-sref="signup()" id="login-button19" class="button button-positive button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>