<ion-view title="My Tokens" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="myTokens-list3">
      <div class="item item-body" id="myTokens-list-item-container14">
        <div id="myTokens-markdown33" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Total Tokens: 440</strong>
          </p>
        </div>
      </div>
      <div class="item item-body" id="myTokens-list-item-container15">
        <div id="myTokens-markdown34" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Hourly Purchased Tokens: 48 Token</strong>
          </p>
        </div>
      </div>
    </ion-list>
    <a ui-sref="transactionHistory()" id="myTokens-button17" class="button button-assertive button-small button-block">Transaction History</a>
    <a ui-sref="blockchainHistory()" id="myTokens-button21" class="button button-positive button-small button-block">Blockchain History</a>
  </ion-content>
</ion-view>