<ion-view title="My Wallet" id="page3">
  <ion-content padding="true" class="has-header">
    <a ui-sref="purchaseTokens()" id="myWallet-button14" class="button button-positive button-block">Purchase Tokens</a>
    <ion-list id="myWallet-list3">
      <div class="item item-body" id="myWallet-list-item-container14">
        <div id="myWallet-markdown13" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:20px;">
            <strong>Total Tokens: 360</strong>
          </p>
        </div>
      </div>
    </ion-list>
    <a ui-sref="transactionHistory()" id="myWallet-button17" class="button button-assertive button-small button-block">Transaction History</a>
    <a ui-sref="blockchainHistory()" id="myWallet-button21" class="button button-positive button-small button-block">Blockchain History</a>
  </ion-content>
</ion-view>