<ion-view title="Profile" id="page5">
  <ion-content padding="true" class="has-header">
    <h2 id="profile-heading5" style="color:#000000;">My Family</h2>
    <div class="list card" id="profile-card27">
      <ion-item class="item-icon-left" id="profile-list-item21">
        <i class="icon ion-android-contact"></i>Maria Georgiou</ion-item>
      <div class=" item item-image">
        <img src="img/QHvRQZFeQyh53OdGhFkg_maria-cardona-v3.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="profile-list-item-container11">
        <div id="profile-markdown27" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Date of birth:
            <strong>10th March 1973</strong>
          </p>
        </div>
        <div id="profile-markdown28" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Address:
            <strong>Athinon 79, Nicosia, 2139, CY</strong>
          </p>
        </div>
        <div id="profile-markdown29" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Phone number:
            <strong>+357 96 502134</strong>
          </p>
        </div>
        <div id="profile-markdown11" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Email:
            <strong>i.am.satoshi@moon.com</strong>
          </p>
        </div>
        <div id="profile-markdown48" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Passed Claims:
            <strong>0</strong>
          </p>
        </div>
      </div>
      <button id="profile-button24" class="button button-positive button-small button-block">Edit Info</button>
    </div>
    <div class="list card" id="profile-card22">
      <ion-item class="item-icon-left" id="profile-list-item7">
        <i class="icon ion-android-contact"></i>Andreas Georgiou</ion-item>
      <div class=" item item-image">
        <img src="img/IkyDaRtATEiBkjqBTBTn_f85d1366048272d8bd30315bd4de125a.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="profile-list-item-container12">
        <div id="profile-markdown26" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Date of birth:
            <strong>21th June 1969</strong>
          </p>
        </div>
        <div id="profile-markdown30" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Address:
            <strong>Athinon 79, Nicosia, 2139, CY</strong>
          </p>
        </div>
        <div id="profile-markdown31" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Phone number:
            <strong>+357 96 502134</strong>
          </p>
        </div>
        <div id="profile-markdown32" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Email:
            <strong>wheres.my_lambo@mail.com</strong>
          </p>
        </div>
        <div id="profile-markdown37" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Passed Claims:
            <strong>0</strong>
          </p>
        </div>
      </div>
      <button id="profile-button23" class="button button-positive button-small button-block">Edit Info</button>
    </div>
    <div class="list card" id="profile-card23">
      <ion-item class="item-icon-left" id="profile-list-item8">
        <i class="icon ion-android-contact"></i>Panagiotis Georgiou</ion-item>
      <div class=" item item-image">
        <img src="img/JtGuKOT6GPeUMM6xM7bg_Dean-Barlow.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="profile-list-item-container13">
        <div id="profile-markdown38" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Date of birth:
            <strong>10th March 1994</strong>
          </p>
        </div>
        <div id="profile-markdown39" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Address:
            <strong>Athinon 79, Nicosia, 2139, CY</strong>
          </p>
        </div>
        <div id="profile-markdown40" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Phone number:
            <strong>+357 96 794523</strong>
          </p>
        </div>
        <div id="profile-markdown41" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Email:
            <strong>MoonHodler@mail.com</strong>
          </p>
        </div>
        <div id="profile-markdown42" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Passed Claims:
            <strong>1</strong>
          </p>
        </div>
      </div>
      <button id="profile-button22" class="button button-positive button-small button-block">Edit Info</button>
    </div>
    <div class="list card" id="profile-card24">
      <ion-item class="item-icon-left" id="profile-list-item9">
        <i class="icon ion-android-contact"></i>Giorgos Georgiou</ion-item>
      <div class=" item item-image">
        <img src="img/PK53o0moQcy74wdn15Ad_Screenshot_11213.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="profile-list-item-container16">
        <div id="profile-markdown43" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Date of birth:
            <strong>10th March 1997</strong>
          </p>
        </div>
        <div id="profile-markdown44" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Address:
            <strong>Athinon 79, Nicosia, 2139, CY</strong>
          </p>
        </div>
        <div id="profile-markdown45" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Phone number:
            <strong>+357 96 589234</strong>
          </p>
        </div>
        <div id="profile-markdown46" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Email:
            <strong>Dogecoin_fun@mail.com</strong>
          </p>
        </div>
        <div id="profile-markdown47" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Passed Claims:
            <strong>0</strong>
          </p>
        </div>
      </div>
      <button id="profile-button16" class="button button-positive button-small button-block">Edit Info</button>
    </div>
  </ion-content>
</ion-view>