<ion-view title="Profile" id="page5">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="profile-card27">
      <ion-item class="item-icon-left" id="profile-list-item21">
        <i class="icon ion-android-contact"></i>Maria Georgiou</ion-item>
      <div class=" item item-image">
        <img src="img/QHvRQZFeQyh53OdGhFkg_maria-cardona-v3.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="profile-list-item-container11">
        <div id="profile-markdown27" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Date of birth:
            <strong>10th March 1979</strong>
          </p>
        </div>
        <div id="profile-markdown28" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Address:
            <strong>Athinon 79, Nicosia, 2139, CY</strong>
          </p>
        </div>
        <div id="profile-markdown29" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Phone number:
            <strong>+357 96 502134</strong>
          </p>
        </div>
        <div id="profile-markdown11" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Email:
            <strong>Maria15@gmail.com</strong>
          </p>
        </div>
        <div id="profile-markdown48" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Passed Claims:
            <strong>0</strong>
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>