<ion-view title="Purchase Tokens" id="page11">
  <ion-content padding="true" class="has-header">
    <h3 id="purchaseTokens-heading3" style="color:#000000;">Pay with Credit Card</h3>
    <div>
      <img src="img/fksrpfy2SrSxSwWAxYiw_creditcard-flat.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="purchaseTokens-form18" class="list">
      <label class="item item-input item-stacked-label" id="purchaseTokens-input7">
        <span class="input-label">Credit Card Number:</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="purchaseTokens-input8">
        <span class="input-label">Expiration Date:</span>
        <input type="text" placeholder=" mm/yy">
      </label>
      <label class="item item-input item-stacked-label" id="purchaseTokens-input10">
        <span class="input-label">Amount (€):</span>
        <input type="text" placeholder="€ 00.00">
      </label>
      <a ui-sref="page2()" id="purchaseTokens-button26" class="button button-positive button-block">Submit Payment</a>
    </form>
  </ion-content>
</ion-view>